"*":
  welcome:
    showOnStartup: false
  core:
    followSymlinks: true
    projectHome: "~/Documents/github"
    audioBeep: false
    ignoredNames: [
      ".git"
      ".DS_STORE"
      ".idea"
    ]
  "atom-ctags":
    autoBuildTagsWhenActive: true
  linter:
    lintOnEditorFocus: false
    showInfoMessages: true
    statusBar: "Show error of the selected line"
    lintOnChange: false
    clearOnChange: true
    showErrorPanel: false
  editor:
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    softWrap: true
  "tool-bar":
    position: "Left"
    visible: false
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  tabs:
    enableVcsColoring: true
    tabScrolling: true
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
  "symbols-tree-view":
    autoToggle: true
  minimap:
    plugins:
      "git-diff": true
  "exception-reporting":
    userId: "59773b2b-4717-e629-2f2c-8c3a29e60b68"
editor:
  showIndentGuide: true
  softWrap: true
"autocomplete-plus":
  enableAutoActivation: false
minimap:
  plugins:
    "git-diff": false
