"*":
  welcome:
    showOnStartup: false
  core:
    followSymlinks: true
    projectHome: "~/Documents/github"
    ignoredNames: [
      ".git"
      ".DS_STORE"
      ".idea"
    ]
    disabledPackages: [
      "metrics"
      "quick-jump"
    ]
  "atom-ctags":
    autoBuildTagsWhenActive: true
  linter:
    lintOnEditorFocus: false
    showInfoMessages: true
    statusBar: "Show error of the selected line"
    lintOnChange: false
    clearOnChange: true
    showErrorPanel: false
  editor:
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    softWrap: true
    backUpBeforeSaving: true
    showInvisibles: true
  "tool-bar":
    position: "Left"
    visible: false
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  tabs:
    enableVcsColoring: true
    tabScrolling: true
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "symbols-tree-view":
    autoToggle: true
  minimap:
    plugins:
      "git-diff": true
  "exception-reporting":
    userId: "59773b2b-4717-e629-2f2c-8c3a29e60b68"
  jumpy: {}
  "fuzzy-finder": {}
  "git-diff": {}
  "one-dark-ui": {}
  "unity-dark-ui": {}
  "smart-tab-name": {}
  "git-projects":
    rootPath: "/Users/susekaboss/Documents/github/"
  "remote-atom":
    keep_alive: true
minimap:
  plugins:
    "git-diff": false
"autocomplete-plus":
  enableAutoActivation: false
editor:
  showIndentGuide: true
  softWrap: true
